{% extends 'base.html' %}
{% load jformat %}
{% block title %} آرشیو مقالات {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% for article in all_article %}
        <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-2">
                    <a href="{{ article.get_absolute_url }}"><img src="{{ article.image.url }}" class="img-thumbnail" alt="..."></a>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h5 class="card-title"><a  class="myfonttitle" href="{{ article.get_absolute_url }}">{{ article.title }}</a></h5>
                      <p class="card-text myfontdes">{{ article.description|truncatechars:250 }}</p>
                      <p class="card-text"><small class="myfontnumbers">{{ article.created|jformat:"%Y/%m/%d" }}</small></p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
        </div>
</div>
{% endblock %}